.about-main__heroour-blok{
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 168px;
}
.about-main__ourimg{
  max-width: 335px;
}
.about-main__outtitle{
  font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
color: #333D4B;
margin-bottom: 32px;
}
.about-main__outtext{
  font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
color: #333D4B;
opacity: 0.8;
}
.about-main__ourcommintet{
  max-width: 540px;
}
@media only screen and (max-width:710px) {
  .about-main__heroour-blok{
    flex-direction: column;
    margin: 0 auto;
  }
  .about-main__ourimg{
    margin-bottom: 48px;
  }
  .about-main__outtitle,.about-main__outtext{
    max-width: 327px;
  }
  .about-main__ourcommintet{
    margin-bottom: 200px;
  }
}
